body{ font-family: Georgia; margin:0; }
#wrap{ width:100%; margin:0 auto; }

#search_container { font-size:2em; padding:9px;  border-bottom:1px solid #ccc;}
    #search_container #redis_search { font-size:1em; width:533px; }

#search_container
    #database_select { font-size:1em; }
    #flushdb {font-size:0.6em; color:#E6E6E6;}
    #flushdb:hover{cursor:pointer; color:#ABABAB; }

#redis_container { border-top:1px solid #eee; overflow:auto; }
    .redis_key{ padding:1px; }
    .redis_value_container{ padding-left: 30px; }
    .r_field{ color:#6E0D0D; }
    .r_key { padding:5px 5px 5px 10px; border-bottom:1px solid #eee; border-right:1px solid #eee; }
    	.r_key .key_type { font-size:0.7em; color:#bbb; }
    .r_value{ color:#025403; }
    .r_member { padding:3px; border-bottom:1px solid #eee; }

    .add_field:hover{cursor:pointer; color:#7E93F2;}
    .add_field{ color:#001C96; }
    .deleted_key{ color:red; }
    .warning{ color:#993;font-weight: bold; background:#FFC; font-size:16px; padding:6px; border-bottom:1px solid #ccc;}

.hover{ background-color:#F2FAC0;}

#right_container{ position:absolute; top:0; right:0; font-size:0.8em; padding:10px; }
    #right_container .toggle { float:right; color:#777;}
        #right_container #server_stats { border:2px solid #999; margin-top:30px;display:none; padding:10px; clear:both; font-family: courier; background:#FFF;}
            #right_container #server_stats h2 { margin-top:0; }
            #right_container #server_stats table{ border-collapse:collapse; }
                #right_container #server_stats table td{ border:1px solid #E3E3E3; padding:3px; }

#footer{ clear:both; }

#redis_error{
    padding:10px;
    background-color: #E6E6E6;
    color:#C74679;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}